astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
cycler==0.10.0
dataclasses==0.6
flake8==3.8.4
future==0.18.2
iniconfig==1.1.1
isort==5.6.4
jedi==0.17.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
numpy==1.19.4
packaging==20.7
pandas==1.1.5
parso==0.7.1
Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
python-box==5.2.0
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.1
pytz==2020.4
PyYAML==5.3.1
rope==0.18.0
scipy==1.5.4
seaborn==0.11.0
six==1.15.0
snowballstemmer==2.0.0
toml==0.10.2
torch==1.7.0
typing-extensions==3.7.4.3
ujson==4.0.1
wrapt==1.12.1
yapf==0.30.0
